<div class="page-header">
  <h1>
    <i class="bi bi-calendar3"></i> {{if model.isNew 'Add' 'Edit'}} Schedule
  </h1>
</div>

<form>
  <div class="row">
    <div class="mb-3 col-md-12">
      <label for="name">Name</label>
      {{input type="text" class="form-control" id="name" value=model.name}}
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="start-date">Start date</label>
      {{input type="date" class="form-control" id="start-date" value=model.startDate}}
    </div>
    <div class="mb-3 col-md-6">
      <label for="end-date">End date</label>
      {{input type="date" class="form-control" id="end-date" value=model.endDate}}
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-12">
      <label for="days-of-week">Schedule assignments on</label>
      <PowerSelectMultiple class="form-select" id="days-ofweek"
        @searchEnabled={{true}}
        @options={{weekdays}}
        @selected={{model.daysOfWeek}}
        @placeholder="Choose days..."
        @onChange={{fn (mut model.daysOfWeek)}} as |day|>
        {{day.name}}
      </PowerSelectMultiple>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-12">
      <label for="notes">Notes</label>
      {{textarea rows=3 class="form-control" id="notes" value=model.notes}}
    </div>
  </div>
  <h2>Columns</h2>
  {{#each model.assignments as |assignment|}}
  <div class="row">
    <div class="mb-3 col-md-6">
      {{input type="text" class="form-control" value=assignment.name}}
    </div>
    <div class="mb-3 col-md-6">
      {{#x-select class="form-select" value=assignment.group as |xs|}}
      {{#each groups as |group|}}
        {{#xs.option value=group.id}}{{group.name}}{{/xs.option}}
      {{/each}}
      {{/x-select}}
      <!-- <a class="glyphicon glyphicon-trash" aria-hidden="true"></a> -->
    </div>
  </div>
  {{/each}}
  <div class="row">
    <div class="mb-3 col-md-12">
      <button {{action "addAssignment"}} type="submit" class="btn btn-sm btn-secondary">Add Assignment</button>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-12">
      {{#if model.isNew}}
        <button {{action "saveAndRebuild"}} type="submit" class="btn btn-primary">Save</button>
      {{else}}
        {{async-button action=(action "save") default="Save" pending="Saving..." class="btn btn-primary"}}
        {{async-button action=(action "saveAndRebuild") default="Save & Rebuild" pending="Rebuilding..." class="btn btn-secondary"}}
      {{/if}}
      <button {{action "cancel"}} type="button" class="btn btn-link">Cancel</button>
    </div>
  </div>
</form>

{{outlet}}
