<div class="page-header">
  <h1>
    <i class="bi bi-calendar3"></i> Schedules
    <LinkTo @route="schedules.edit" @model="new" class="btn btn-primary float-end">Add Schedule</LinkTo>
  </h1>
</div>

{{#if model}}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dates</th>
      <th>Assignments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |schedule|}}
    {{#link-to "schedules.view" schedule tagName="tr"}}
      <td>{{schedule.name}}</td>
      <td>{{moment-format schedule.startDate 'l'}} - {{moment-format schedule.endDate 'l'}}</td>
      <td>
      {{#each schedule.assignments as |assignment|}}
        <span class="badge bg-secondary">{{assignment.name}}</span>
      {{/each}}
      </td>
      <td class="text-right"><a {{action 'delete' schedule}} class="bi bi-trash" aria-hidden="true"></a></td>
    {{/link-to}}
  {{/each}}
  </tbody>
</table>
{{/if}}

{{outlet}}
