<div class="page-header">
  <h1>
    <i class="bi bi-calendar3"></i> {{model.name}}
    <div class="float-end d-print-none">
      <LinkTo @route="schedules.edit" @model={{model}} class="btn btn-secondary">Edit Schedule</LinkTo>
      <a class="btn btn-secondary" href="{{model.mailto}}" role="button">Email</a>
      <button class="btn btn-primary" {{action 'print'}} onclick="this.blur();">Print</button>
    </div>
  </h1>
</div>

<p class="text-muted">{{model.notes}}</p>

{{#if model.dates.length}}
<table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        {{#each model.assignments as |assignment|}}
          <th>{{assignment.name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each model.dates as |date|}}
      <tr>
        <td>{{moment-format date.date 'ddd ll'}}</td>
        {{#each date.assignments as |assignment|}}
          <td contenteditable="true">{{assignment.person.name}}</td>
        {{/each}}
      </tr>
    {{/each}}
    </tbody>
</table>
{{/if}}

{{outlet}}
