<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{model.name}}
    <div class="pull-right">
      {{#link-to "schedules.edit" model class="btn btn-default hidden-print"}}Edit Schedule{{/link-to}}
      <button class="btn btn-primary hidden-print" {{action 'print'}} onclick="this.blur();">Print</button>
    </div>
  </h1>
</div>

{{#if model.dates.length}}
<table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        {{#each model.assignments as |assignment|}}
          <th>{{assignment.name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each model.dates as |date|}}
      <tr>
        <td>{{moment-format date.date 'ddd ll'}}</td>
        {{#each date.assignments as |assignment|}}
          <td contenteditable="true">{{assignment.person.name}}</td>
        {{/each}}
      </tr>
    {{/each}}
    </tbody>
</table>
{{/if}}

{{outlet}}
