<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{if model.isNew 'Add' 'Edit'}} Person
  </h1>
</div>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input type="text" class="form-control" id="name" value=model.name}}
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    {{input type="email" class="form-control" id="email" value=model.email}}
  </div>
  <div class="form-group">
    <label for="groups">Groups</label>
    {{#x-select class="form-control" id="groups" multiple=true value=model.groups as |xs|}}
    {{#each groups as |group|}}
      {{#xs.option value=group}}{{group.name}}{{/xs.option}}
    {{/each}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label for="assignment-frequency">Assignment frequency</label>
    {{#x-select class="form-control" id="assignment-frequency" value=model.assignmentFrequency as |xs|}}
    {{#each assignmentFrequencies as |freq|}}
      {{#xs.option value=freq}}
        {{#if (eq freq 0)}}
          As needed
        {{else}}
          {{freq}} weeks
        {{/if}}
      {{/xs.option}}
    {{/each}}
    {{/x-select}}
    <span id="helpBlock" class="help-block">Set the minimum timespan between assignments for this person.</span>
  </div>
  <h2>Unavailable Dates</h2>
  {{#each model.datesUnavailable as |date|}}
    <div class="form-group">
      <div class="input-group">
        {{input type="date" class="form-control" value=date.date}}
        <div class="input-group-addon"><a {{action "deleteUnavailableDate" date}} class="glyphicon glyphicon-trash" aria-hidden="true"></a></div>
      </div>
    </div>
  {{/each}}
  <div class="form-group">
    <button {{action "addUnavailableDate"}} type="submit" class="btn btn-xs btn-primary">Add Date</button>
  </div>
  <div class="form-group">
    <button {{action "save"}} type="submit" class="btn btn-primary">Save</button>
    <button {{action "cancel"}} type="button" class="btn btn-link">Cancel</button>
  </div>
</form>

{{outlet}}
