<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{if model.isNew 'Add' 'Edit'}} Group
  </h1>
</div>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input type="text" class="form-control" id="name" value=model.name}}
  </div>
  <div class="form-group">
    <button {{action "save"}} type="submit" class="btn btn-primary">Save</button>
    <button {{action "cancel"}} type="button" class="btn btn-link">Cancel</button>
  </div>
</form>

{{outlet}}
