<h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</h1>

<h2>Meeting Dates</h2>
<form>
  <div class="form-group">
    <label>Midweek meeting is on</label>
    <select class="form-control" onchange={{action "changeMidweekMeeting" value="target.value"}}>
      {{#each weekdays as |day index|}}
        <option value="{{day}}" selected="{{if (eq model.midweek_meeting day) 'selected'}}">{{day}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label>Weekend meeting is on</label>
    <select class="form-control" onchange={{action "changeWeekendMeeting" value="target.value"}}>
      {{#each weekdays as |day index|}}
        <option value="{{day}}" selected="{{if (eq model.weekend_meeting day) 'selected'}}">{{day}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <button {{action "save"}} type="submit" class="btn btn-primary">Save</button>
    <button {{action "cancel"}} type="button" class="btn btn-link">Cancel</button>
  </div>
</form>

{{outlet}}
